.navmenu {
    --bs-scroll-height: 100px;
}

.header {
    width: auto;
    margin: 10px 0px;
    background-color: #caffca;

}

.headerClass {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;

}

.logo {
    text-align: center;
    padding: 50px 0;
}

.cuerpo {
    margin: 50px 0;

}

header {
    background: url(../imagen/imagen_header.jpeg) no-repeat center center;
    background-size: cover;
    color: #d9e0e2;
    position: relative;
    height: 420px;
    position: relative;
}


header p {
    color: #d9e0e2;
    font-size: 19px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.intro-text {
    position: relative;
    padding-top: 150px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 50px;

}

.intro-text h1 {
    font-size: 2em;
    text-transform: uppercase;
    color: #d9e0e2;
    letter-spacing: 2px;
    margin: 0 auto;
}

.toast-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*search*/
.top {
    background-color: transparent;
    padding: 10px 0;
}

#search input[type="text"] {
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #999999;
    display: block;
    font-size: 15px;
    font-weight: normal;
    height: 40px;
    line-height: 1.2;
    outline: medium none;
    padding: 7px 10px 4px;
    transition: border-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
    width: 100%;
    background-color: #fff;
}

#search button {
    background: #7F9A00;
    color: #fff;
    border-color: #7F9A00;
}

.top .top-search {
    background: #3E3E3E;
    padding: 8px;
}

.btn {
    border-radius: 2px;
    position: relative;
    display: inline-block;
    outline: none;
    color: #785843;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 14px;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    text-align: center
}

.usuarioLogin{
    position: relative;
    color: #757575;
    font: bold 1em;

}

@media (max-width: 765px) {
    .search-container {
        margin: 15px auto 0;
    }

    header {
        padding: 10px;
    }

    h1 {
        font-size: 0.8em;
    }

    p {
        font-size: 0.5em;
    }

    .search-container {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        padding: 8px;

    }
}

